{% extends "base.html" %}

{% block title %}Search Patients{% endblock %}

{% block content %}

<section class="breadcrumb">
    <a href="{{ url_for('dashboard') }}">Home</a>
    <span>/</span>
    <a href="{{ url_for('patient') }}">Patients</a>
    <span>/</span>
    <span>Search</span>
</section>

<section class="page-header">
    <div>
        <p class="eyebrow">Patient Module</p>
        <h1>Search Patients</h1>
    </div>
    <a class="button secondary" href="{{ url_for('patient') }}">Back to Patients</a>
</section>


<section class="panel">
    <form method="POST" class="form-grid" action="{{ url_for('patient_search_results') }}">
        <label class="full-width">
            Pateint Name
            <input type="search" id="search-box" name="patient_name" value="{{ query }}" placeholder=" Type here...">
        </label>
        <br>
        <br>
        <div class="form-actions">
            <button type="submit">Search</button>
        </div>
    </form>
</section>


{% endblock %}
