{% extends "base.html" %}

{% block title %}Search Reports{% endblock %}

{% block content %}
<section class="breadcrumb">
    <a href="{{ url_for('dashboard') }}">Home</a>
    <span>/</span>
    <span>Search Reports</span>
</section>

<section class="module-area">
    <article class="module-card">
        <div class="module-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 5v14M5 12h14"/></svg>
        </div>
        <h2>Generate Report</h2>
        <a class="button secondary" href="{{ url_for('create_report') }}"> Create</a>
    </article>
    <!--<article class="module-card">
        <div class="module-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"/><polyline points="14 2 14 8 20 8"/><line x1="16" y1="13" x2="8" y2="13"/><line x1="16" y1="17" x2="8" y2="17"/></svg>
        </div>
        <h2>Report List</h2>
        <a class="button secondary" href="{{ url_for('reporting') }}"> View List</a>
    </article>
    <article class="module-card">
        <div class="module-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"/><line x1="21" y1="21" x2="16.65" y2="16.65"/></svg>
        </div>
        <h2>Search</h2>
        <a class="button secondary" href="{{ url_for('search_report') }}">Search</a>
    </article>-->
</section>

{% endblock %}

