{% extends "base.html" %}

{% block title %}Reporting{% endblock %}

{% block content %}
<section class="page-header">
    <div>
        <p class="eyebrow">Report Module</p>
        <h1>{{ 'Update Report' if mode == 'edit' else 'Create Report' }}</h1>
    </div>
</section>

<section class="form-panel">

    <form method="POST" class="form-grid">

        <label>
            Report ID
            <input
                type="text"
                name="report_id"
                value="{{ report.report_id if report else '' }}"
                {% if mode == 'edit' %}readonly{% endif %}
                placeholder="e.g. R000001"
                required>
        </label>

        <br>

        <label>
            Patient ID
            <input type="text" name="patient_id" list="patient-id-list" value="{{ patient_id or '' }}" placeholder="Enter Patient ID or select Name" required>
            <datalist id="patient-id-list">
                {% for patient in patient_ids %}
                <option value="{{ patient.patient_id }}">{{ patient.patient_name }}</option>
                {% endfor %}
            </datalist>
        </label>

        <br>

        <label class="full-width">
            Draft Report
            <textarea
                name="draft_text"
                rows="12"
                placeholder="Write report findings here..."
                required>{{ report.draft_text if report else '' }}</textarea>
        </label>

        <br>

        <label class="full-width">
            Comments
            <textarea
                name="comments"
                rows="4"
                placeholder="Additional comments...">{{ report.comments if report else '' }}</textarea>
        </label>

        <label>
            Status
            <select name="report_status">
                <option value="Pending"
                    {% if report and report.report_status == 'Pending' %}
                    selected
                    {% endif %}>
                    Pending
                </option>

                <option value="Delivered"
                    {% if report and report.report_status == 'Delivered' %}
                    selected
                    {% endif %}>
                    Delivered
                </option>
            </select>
        </label>

        <br>

        <div class="button">
            <button type="submit">
                {{ 'Update Report' if mode == 'edit' else 'Create Report' }}
            </button>
        </div>

    </form>

</section>
{% endblock %}