{% extends "base.html" %}
{% block title %}Search Samples{% endblock %}
{% block content %}
<section class="breadcrumb">
    <a href="{{ url_for('dashboard') }}">Home</a>
    <span>/</span>
    <a href="{{ url_for('sample') }}">Samples</a>
    <span>/</span>
    <span>Search Samples</span>
</section>

<section class="page-header">
    <div>
        <p class="eyebrow">Sample Module</p>
        <h1>Search Samples</h1>
    </div>
    <a class="button secondary" href="{{ url_for('sample') }}">Back to Samples</a>
</section>

<section class="panel">
    <form method="POST" class = "form-grid"action="{{ url_for('sample_search_results') }}" class="form-grid">

        <label class="full-width">Search by Sample ID
            <input type="search" name="query" placeholder="Sample ID.">
        </label>

        <label>Sample Type
            <select name="sample_type">
                <option value="">All Types</option>
                <option value="Blood">Blood</option>
                <option value="Swab">Swab</option>
                <option value="Tissue">Tissue</option>
            </select>
        </label>
        <br>
        <label>From Date
            <input type="date" name="start_date">
        </label>
        <label>To Date
            <input type="date" name="end_date">
        </label>

        <div class="form-actions">
            <button type="submit">Search</button>
        </div>
    </form>
</section>

{% endblock %}